/*----------------------------------------*/
/*  3.  Hero Area
/*----------------------------------------*/
/*-- Nivo Caption --*/
.nivo-caption {
    height: 100%;
    height: 100%;
    padding: 0;

    background-color: transparent;

    & .container {
        display: table;

        height: 100%;

        & .row {
            display: table-cell;

            height: 100%;

            vertical-align: middle;
        }
    }
}

/*-- Hero Style For BG Image & Video --*/
.hero-image-bg {
    background-image: url(img/hero/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
}

.hero-video-bg {
    background-image: url(img/hero/video.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
}

.hero-caption {
    padding: 250px 0;

    @media #{$laptop-device} {
        padding: 200px 0;
    }

    @media #{$desktop-device} {
        padding: 150px 0;
    }

    @media #{$tablet-device} {
        padding: 100px 0;
    }

    @media #{$large-mobile} {
        padding: 70px 0;
    }

    @media #{$small-mobile} {
        padding: 40px 0;
    }
}

/*-- Hero Content --*/
.hero-content {
    & h1 {
        font-size: 60px;
        font-weight: 800;
        line-height: 64px;

        margin-bottom: 12px;

        text-transform: uppercase;

        color: $color-white;

        @media #{$desktop-device} {
            font-size: 50px;
            line-height: 56px;
        }

        @media #{$tablet-device} {
            font-size: 36px;
            line-height: 40px;
        }

        @media #{$large-mobile} {
            font-size: 20px;
            line-height: 24px;

            margin-bottom: 5px;
        }
    }

    & p {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;

        max-width: 810px;
        margin-bottom: 30px;
        padding: 0;

        color: $color-white;

        @media #{$tablet-device} {
            font-size: 16px;
            line-height: 26px;

            margin-bottom: 20px;
        }

        @media #{$large-mobile} {
            font-size: 14px;
            line-height: 24px;

            overflow: hidden;

            height: 50px;
            margin-bottom: 10px;
        }

        @media #{$small-mobile} {
            display: none;
        }
    }

    & a {
        font-weight: 600;
        line-height: 26px;

        display: inline-block;

        height: 50px;
        padding: 11px 42px 10px;

        text-transform: uppercase;

        color: $color-white;
        border: 2px solid $color-white;
        border-radius: 5px;

        @media #{$desktop-device} {
            height: 44px;
            padding: 8px 30px 7px;
        }

        @media #{$tablet-device} {
            font-size: 13px;

            height: 36px;
            padding: 4px 20px 3px;
        }

        @media #{$large-mobile} {
            font-size: 12px;

            height: 36px;
            padding: 4px 20px 3px;
        }

        @media #{$small-mobile} {
            font-size: 10px;

            height: 30px;
            padding: 1px 15px 2px;

            border-width: 1px;
        }

        &:hover {
            color: $theme-color;
            background-color: $color-white;
        }
    }
}

.hero-content-2 {
    text-align: center;

    & h1 {
        font-size: 80px;
        font-weight: 800;
        line-height: 1.1;

        margin-bottom: 25px;

        text-transform: uppercase;

        color: $color-white;

        @media #{$desktop-device} {
            font-size: 50px;
            line-height: 56px;
        }

        @media #{$tablet-device} {
            font-size: 36px;
            line-height: 40px;
        }

        @media #{$large-mobile} {
            font-size: 20px;
            line-height: 24px;

            margin-bottom: 5px;
        }
    }

    & p {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;

        max-width: 810px;
        margin: 0 auto 45px;
        padding: 0;

        color: $color-white;

        @media #{$tablet-device} {
            font-size: 16px;
            line-height: 26px;

            margin-bottom: 20px;
        }

        @media #{$large-mobile} {
            font-size: 14px;
            line-height: 24px;

            overflow: hidden;

            height: 50px;
            margin-bottom: 10px;
        }

        @media #{$small-mobile} {
            display: none;
        }
    }

    & a {
        font-weight: 600;
        line-height: 26px;

        display: inline-block;

        height: 50px;
        padding: 11px 42px 10px;

        text-transform: uppercase;

        color: $color-white;
        border: 2px solid $color-white;
        border-radius: 5px;

        @media #{$desktop-device} {
            height: 44px;
            padding: 8px 30px 7px;
        }

        @media #{$tablet-device} {
            font-size: 13px;

            height: 36px;
            padding: 4px 20px 3px;
        }

        @media #{$large-mobile} {
            font-size: 12px;

            height: 36px;
            padding: 4px 20px 3px;
        }

        @media #{$small-mobile} {
            font-size: 10px;

            height: 30px;
            padding: 1px 15px 2px;

            border-width: 1px;
        }

        &:hover {
            color: $theme-color;
            background-color: $color-white;
        }
    }
}

/*-- Nivo Diraction Nav --*/
.nivo-directionNav {
    & a {
        top: 50%;

        overflow: hidden;

        width: 62px;
        height: 62px;
        margin-top: -31px;

        text-align: center;

        opacity: 0;
        color: $color-white !important;
        border-radius: 50%;
        background-color: rgba($color-black, 0.15);

        @media #{$tablet-device} {
            width: 40px;
            height: 40px;
            margin-top: -20px;
        }

        @media #{$large-mobile} {
            display: none;
        }

        &:hover {
            & span {
                opacity: 0;
            }

            & i {
                opacity: 1;
            }
        }

        &.nivo-prevNav {
            left: 40px;

            margin-left: 50px;

            @media #{$laptop-device} {
                left: 15px;
            }

            @media #{$desktop-device} {
                left: 0;
            }

            @media #{$tablet-device} {
                left: 0;
            }

            &:hover {
                & i {
                    left: -11px;
                }
            }
        }

        &.nivo-nextNav {
            right: 40px;

            margin-right: 50px;

            @media #{$laptop-device} {
                right: 15px;
            }

            @media #{$desktop-device} {
                right: 0;
            }

            @media #{$tablet-device} {
                right: 0;
            }

            &:hover {
                & i {
                    left: 11px;
                }
            }
        }

        & span {
            font-size: 24px;
            font-weight: 500;
            line-height: 62px;

            display: block;

            text-transform: uppercase;

            @media #{$tablet-device} {
                font-size: 18px;
                line-height: 40px;
            }
        }

        & i {
            font-size: 30px;
            line-height: 62px;

            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 100%;

            opacity: 0;

            @media #{$tablet-device} {
                font-size: 24px;
                line-height: 40px;
            }
        }
    }
}

.nivoSlider:hover {
    & .nivo-directionNav {
        & a {
            opacity: 1;

            &.nivo-prevNav {
                margin-left: 0;
            }

            &.nivo-nextNav {
                margin-right: 0;
            }
        }
    }
}